numpy
pandas
seaborn
nbdev
jupyter
pandas
ont-fast5-api
ipykernel
jupyterlab
notebook
bokeh
ipywidgets
cython
scipy
h5py
jupyterhub
rpy2
tqdm
mappy
schemdraw
emoji
pysam
click
click-log
scikit-learn
ont-fast5-api
NanoCount