jinja2
numpy
pandas
pytest
sphinx
tzlocal
rpy2
seaborn
scanpy
leidenalg
nbdev
jupyter
pandas
anndata
louvain
python-igraph
pybind11
hnswlib
scvelo
ipykernel
jupyterlab
notebook
bokeh
ipywidgets
jupyterhub


