jinja2
pandas
pytest
sphinx
tzlocal
rpy2
seaborn
leidenalg
nbdev
jupyter
pandas
anndata
louvain
python-igraph
pybind11
hnswlib
scvelo
ipykernel
jupyterlab
notebook
bokeh
ipywidgets
jupyterhub
bbknn


